<%- include('layouts/header') %>


  <!-- Banner -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container_r">
      <h1 class="display-4">Code Stronger, Train Smarter</h1>
      <p class="lead">" How <span class="text-warning"> ALX </span> Students Can Stay Fit with Our Fitfam Web App!".</p>
          </div>
         <div class="container">            
          <img src="/img/gym_02.jpg" alt="A picture of the gym" class="gym-image" width="981" height="528">
          
          <section class="articles">
            <h2 class="articles__heading">Latest Posts</h2>
          
            <ul class="article-ul">
             

             <% data.forEach(post => { %>
                          
                <li>
                  <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                  </a>
                </li>

               <% }) %> 
           
            </ul>

            <% if (nextPage !==null) { %>
             
            <a href="/blog?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
           <% } %>
                      
          </section>

           </div> 
        </div> 
  </div>
  
<!-- POST 1 -->
<div class="container mt-5 pt-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-lg-10">
      <h2>7 Ways to Be a Healthy Web Programmer</h2>
      <p>
        <em class="text-start"
          >Written by <span class="text-warning">Luna Lunapiena</span> @
          <a href="www.stride.build" class="text-dark">Stride</a></em
        >
      </p>
      <!-- <img src="/images/programmer_issues.jpg" alt="" /> -->
      <p class="mt-4 lead">
        For whatever else we may love about it, programming can be one of the
        worst things for your health. Developers face a myriad of physical and
        mental health challenges in today's world. Whether it's wrist and back
        pain, migraines, eye strain, loss of motivation, or trouble
        focusing—programming can be a pretty risky profession!
      </p>
      <p class="mt-1">
        If you haven't encountered one of these yet, consider yourself lucky
        (but know that one day, you almost certainly will!). Thankfully, there
        are lots of simple hacks and techniques to make this better
      </p>
      <p>
        Here are seven easy ways to take care of yourself and keep your mind and
        body in excellent shape.
      </p>

      <ol>
        <!-- NUMBER 1 -->
        <li>
          <h3 class="lead">TAKE A WALK</h3>
          <p>
            It's becoming common knowledge that sitting is the new smoking.
            We've probably all sat in front of our workstations for hours at a
            time. It's creating your back problems, straining your eyes, and
            sapping your energy, and it's probably why you have a migraine.
          </p>
          <p>
            So take a walk instead! A recent study has shown that adults who
            walked for 40 minutes three times a week for a year literally
            <a
              class="text-dark"
              href="http://www.npr.org/2011/02/04/133498136/growing-a-bigger-brain-is-a-walk-in-the-park"
              >grew their hippocampus!</a
            >
            The hippocampus is the part of your brain that helps create new
            memories. It also helps regulate the autonomic nervous system, as
            well as your mood. In addition to the cognitive benefits, walking
            for 20 minutes will cause you to
            <a
              class="text-dark"
              href="http://www.exrx.net/Calculators/Calories.html">
              burn an average of 70-140 calories.</a
            >
            On top of that, walking's a great way to prevent back pain!
          </p>
          <p>
            Now, 40 minutes may sound like a lot to you, but it's actually
            pretty easy to break down throughout your day:
          </p>
          <ul>
            <li>
              Every 30 minutes to an hour, get up and walk around the office for
              five minutes—stop by the kitchen, speak with a coworker, or use
              the restroom even! However you do it, when you sit back down,
              youll find yourself refreshed, happy, and able to focus better.
            </li>
            <li>
              Get lunch outside the office, somewhere 10 minutes away. By the
              time you've walked there and back, you've gotten half your walk
              time for the day!
            </li>
            <li>
              If you take the subway home, get off a stop or two early and walk
              off some of that end-of-the-work-day exhaustion!
            </li>
          </ul>
          <p>
            To help make this happen, you can also use an app like
            <a class="text-dark" href="http://3030.binaryhammer.com/">30/30</a>
            to remind yourself to get up and walk. (Side note: 30/30 is a highly
            customizable timed to-do list and can be a really amazing way to
            stay focused and get work done. I use it all the time!) Another way
            to get yourself walking is to buy a pedometer. It will show you how
            many steps you've taken throughout the day. On any given day, you
            should be getting in a minimum of 10,000 steps (five miles) per day.
          </p>
          <p>
            Better yet, there's another even more fun way to get in your
            walking…
          </p>
        </li>
        <!-- NUMBER 2 -->
        <li>
          <h3 class="lead">START A DAILY WALK GROUP</h3>
          <p>
            Early in my programming career, I participated in a batch at the
            Recurse Center (a three-month self-directed retreat where
            programmers of all levels can dive deep and explore their biggest
            interests). While I was there, one of my batchmates—inspired by the
            book
            <em
              ><a href="http://healthyprog.com/" class="text-dark"
                >The Healthy Programmer</a
              ></em
            >—started a daily walk group.
          </p>
          <p>
            Every day around 2 or 3 p.m., a group of us would get together and
            go for a 20-minute walk somewhere. Sometimes we'd treat ourselves to
            some coffee, pastries, or ice cream, and sometimes we'd walk over to
            a park. One summer day, we even walked over the Brooklyn Bridge
            (well, part of it, anyway—we had to get some work done, after all!).
          </p>
          <p>
            This arrangement was perfect (since 3 p.m. is about when everybody
            starts getting tired and feeling that end-of-the-day lag). It was
            also a great and fun way to build relationships with each other
            (especially people you might not otherwise have a chance to talk
            to). It sure beat going to the gym!
          </p>
          <p>
            If you're a manager or team lead, consider this: a daily walk group
            is really excellent for productivity! It can bring members of
            different teams together and get them to talk to and build
            relationships with each other. This is a huge benefit for
            collaborative work. At some point your engineering team will need to
            communicate with the design or customer insight teams. While your
            role probably already includes that cross-department communication
            and decision making, wouldn't it make your life easier if your
            engineers had some idea of how the other team thinks and approaches
            things, too?!
          </p>
          <p>
            Of course, walking's not the only way to take care of yourself and
            improve your health…
          </p>
        </li>
        <!-- NUMBER 3 -->
        <li>
          <h3 class="lead">MANAGE YOUR BLUE LIGHT EXPOSURE WITH F.LUX</h3>
          <p>
            Blue light, also known as high-energy visible (HEV) light, makes up
            one-third of the visible light spectrum. In and of itself, blue
            light is not bad: our main source of HEV light is the sun, and HEV
            light is what makes the sky look blue. Additionally, taking in blue
            light boosts alertness, memory, cognitive function, and mood (is is
            also used to treat Seasonal Affective Disorder). While blue light
            isn't all bad, staring at our screens and monitors all day exposes
            us to really unhealthy amounts of it. Making matters worse, our eyes
            are poor at blocking it out!
          </p>

          <p>
            HEV light scatters more easily than other light, and all this
            scattered light reduces contrast and creates digital eye strain.
            It's damaging to our retinas and causes changes similar to macular
            degeneration, which can lead to gradual (but permanent) vision loss.
            If you find yourself needing a new glasses prescription every year,
            blue light may very well be the culprit!!
          </p>
          <p>
            But here comes f.lux to the rescue! Originally created to help
            people sleep better, f.lux continually adjusts the color temperature
            of your computer screen by automatically filtering out blue light
            (based on the time of day). Its configuration lets you determine
            your preferred color temperature and the exact amount of light you'd
            like to filter out (you can also adjust this manually at any given
            moment). If you're a designer or doing color-sensitive work,
            <a href="https://justgetflux.com/" class="text-dark">f.lux</a>
            includes an option to disable it for an hour, or even until sunrise!
          </p>
          <p>
            The best part of f.lux is that it's available for free on all the
            major desktop and mobile operating systems (the one exception is
            Apple mobile devices, though iOS 9.2 recently introduced a very
            similar feature called Night Shift).
          </p>
        </li>
        <!-- NUMBER 4 -->
        <li>
          <h3 class="lead">OPTIMIZE YOUR MONITOR SETUP</h3>
          <p>
            Your monitor setup goes a really long way toward preventing Computer
            Vision Syndrome (CVS). CVS symptoms can include:
          </p>
          <ul>
            <li class="fs-5">Headaches</li>
            <li class="fs-5">Fatigue</li>
            <li class="fs-5">Blurred vision</li>
            <li class="fs-5">Neck pain</li>
            <li class="fs-5">Red eyes</li>
            <li class="fs-5">Dry eyes</li>
            <li class="fs-5">Irritated eyes</li>
            <li class="fs-5">Eye strain</li>
            <li class="fs-5">Double vision</li>
            <li class="fs-5">Vertigo</li>
            <li class="fs-5">Hard to refocus eyes</li>
            <li class="fs-5">
              <a
                href="https://en.wikipedia.org/wiki/Cerebral_polyopia"
                class="text-dark"
                >Polyopia</a
              >
            </li>
          </ul>
          <p class="mt-3">
            Thankfully, with some preemptive mitigation you can help shield
            yourself from some of the damage!
          </p>
          <p>
            First, if you're a glasses wearer and don't have the right
            prescription lenses, your eyes will have to work harder to focus.
            This causes muscle fatigue, which will lead to headaches and worsen
            your vision.
          </p>
          <p>
            Second, position your monitor between 20 and 40 inches away from
            you. This is roughly the length of your arm. If you can give your
            monitor a high five, you're too close. If you can't touch your
            monitor, you're too far.
          </p>
          <p>
            Third, adjust your monitor's brightness relative to the rest of the
            room. A great way to test that brightness is to look at a website
            with a completely white background. If your screen looks like a
            light source, it's probably too bright. If it looks dull and gray,
            it's probably too dark. A large disparity between your monitor and
            the room will cause you to squint and strain your eyes. If you're
            using f.lux, as I suggested earlier, it's already helping you out
            with this (though you may still need to make slight manual
            adjustments). f.lux is on your side!!
          </p>
          <p>
            Fourth, check for excessive glare. An easy way to test this is to
            sit with your back to a window and check whether you can see the
            window reflected on your screen. If the answer's yes, there's too
            much glare, and you might want to consider getting a screen filter.
            Another great option is to get anti-glare coating on your glasses.
            Anti-glare coating blocks reflections on the front and back of your
            glasses, making everything easier to see!
          </p>
        </li>
        <!-- NUMBER 5 -->
        <li>
          <h3 class="lead">PROTECT YOUR EYES WITH THE 20/20/20 RULE</h3>
          <p>
            Just like taking walk short walks, exercising your eyes is
            essential! You can use what eye doctors call the “20/20/20 rule” to
            prevent focus fatigue and eye lockup (also known as
            <a
              href="https://en.wikipedia.org/wiki/Spasm_of_accommodation"
              class="text-dark"
              >accommodative spasm</a
            >, or "programmer's stare"). The rule is: every 20 minutes, look at
            something 20 feet away, for 20 seconds. You can do even better with
            this and increase the distance and duration. Try looking away for 30
            seconds, or even a minute!
          </p>
          <p>
            Alternately, use the "10-15" variation to level up your eye
            protection. Every 20 minutes, look at something up close for 10-15
            seconds, and then look at something far away for 10-15 seconds.
            Repeat this 10 times!
          </p>
          <p>Finally, save yourself from dry eyes: remember to blink!</p>
        </li>
        <li>
          <h3 class="lead">CUT THE CAFFEINE</h3>
          <p>
            I know, I know—we all love our coffee, tea, and soda. A tiny bit of
            these each day won't really harm you (the tea might even help), but
            consume more than a little bit, and you're pretty much setting
            yourself up for fatigue.
          </p>
          <p>
            As you drink even more caffeine, you're blocking off more and more
            receptor space. When you continue to do this on a daily basis, your
            brain expects this increased level as its baseline, meaning you'll
            need to drink even more caffeine to get the same effect. If that's
            not enough to convince you to cut the caffeine, consider the fact
            that caffeine's a stimulant. The more you drink, the higher your
            blood pressure goes, and the harder your heart has to work to keep
            your blood flowing!
          </p>
          <p>
            Quitting caffeine can pretty challenging, and going cold-turkey on
            your caffeine intake is probably too drastic. Instead, try gradually
            reducing your consumption throughout the week. Maybe start by
            drinking half a serving less than you usually drink. Continue
            reducing the amount you consume, at a reasonable pace, until you're
            down to zero (or at least a very tiny amount). Alternately, try
            switching to decaf coffee or herbal tea. Maybe even consider a
            caffeine-free soda such as ginger ale (which, by the way, is great
            for your stomach in moderate amounts!).
          </p>
          <p>
            As you reduce the amount of caffeine you consume, you're going to
            need to replace it with another drink. Ready to hear the best way to
            do that?
          </p>
        </li>
        <!-- NUMBER 7 -->
        <li>
          <h3 class="lead">DRINK MORE WATER</h3>
          <p>
            It may not be as exciting as sugary or caffeinated beverages, but
            drinking water is pretty much the very best thing you can for your
            health. Your body is made up of 50-65% water
            <a
              href="http://water.usgs.gov/edu/propertyyou.html"
              class="text-dark"
              >(depending on your gender and body composition)</a
            >. Additionally, your heart, brain, lungs, kidneys, and muscles are
            made up of 75-80% water, too! Suffice it to say that you need to
            stay hydrated in order to stay healthy; and staying healthy is key
            to keeping your energy levels up, maintaining a good mood, and
            accomplishing your best work! By the way, all those other things
            we've talked about so far (the headaches, fatigue, eye strain, back
            pain, etc.)? Staying hydrated is the easiest way to help prevent
            those!
          </p>
          <p>
            On top of all that, drinking enough water increases your metabolism
            by 24-30% for the next hour and a half. It also helps you digest
            your food better! If you've followed my advice and cut and replaced
            your sugary drinks with water, that's a lot fewer empty calories
            you're taking in, and a lot less sugar crash. So go ahead and drink
            more water. You'll feel really awesome!
          </p>
          <p>
            As you can see, there are lots of simple steps you can take to keep
            your mind and body in great shape. Do these every day, and enjoy the
            benefits of feeling happier and healthier! These seven are really
            just the tip of the iceberg. If you want to learn even more, I
            highly suggest checking out
            <a href="http://healthyprog.com/" class="text-dark"
              >The Healthy Programmer</a
            >
            by Joe Kutner. It's a treasure trove of information and was my
            inspiration for writing this article.
          </p>
          <p>
            P.S.—Here's one more bonus hack:
            <a
              href="http://gizmodo.com/i-stop-breathing-when-i-type-and-you-probably-do-too-1456397692"
              class="text-dark"
              >Remember to breathe!!</a
            >
          </p>
        </li>
      </ol>

      <p>
        Source:
        <a
          class="fs-6 text-primary"
          href="https://www.stride.build/blog/7-ways-to-be-a-healthy-web-programmer"
          >Stride</a
        >
        from Stride.build
      </p>
    </div>
  </div>
</div>

<!-- POST 2 -->
<div class="container py-5 d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-lg-10">
      <h2>Top Issues in Programmer Productivity</h2>
      <p>
        <em class="text-start"
          >Written by
          <span
            ><a
              class="text-warning"
              href="https://www.articlesfactory.com/author/Sam+Miller.html"
              >Sam Miller</a
            ></span
          ></em
        >
      </p>
      <!-- <img src="/images/programmer_issues.jpg" alt="" /> -->
      <p class="mt-4 lead">
        Any project will have inevitably have obstacles. In programmer
        productivity, it is important to identify the problems before coming up
        with solutions.
      </p>
      <p class="mt-1">
        A software program is something that anyone can be trained to use.
        Pretty easy if one will think about it. However,Guest Posting very few
        people have an idea how many hours are put in just to complete and
        develop software. There is a big issue in programmer productivity in the
        world of technology and people in the Information Technology industries
        are really getting quite a bang in finding out how to reduce costs and
        time input and maximize output for software development. To get to the
        nittyy gritty of the matter, one must understand what kind of
        productivity is expected from a programmer. Or better yet, understand
        the problem first.In software development, a programmer needs to sift
        through hundreds and possibly thousands of data. These data may be in
        the form of text or numbers. Nevertheless, what the programmer needs to
        accomplish is to troubleshoot a malfunction in the developing program or
        find a single specific task that the program is supposed to do. This
        activity is greatly time-consuming. Most of the time, the same
        programmer will have to start a new task prior to accomplish what he is
        currently doing.
      </p>
      <p>
        So, just imagine the length of time that one has to put in — and this is
        only for a specific functionality. So, as described, the main issue here
        is how to maximize time.Time ConstraintsJust like money, there is a
        timeline set for developing software programs. Any delay will be
        equivalent to extra costs. Many people make the mistake of adding more
        headcount to expedite the project. Little do they know that this is also
        equivalent to more costs. However, the decision regarding this will
        depend on the priority. If the software is needed to be released on a
        certain date, then certainly one can add bandwidth to the production
        group.Financial ConstraintsCash flow is very essential in developing
        software. Without adequate budget, the project is likely to freeze. And
        this is something any business should aim to avoid. Everyone knows that
        financial decisions are already pre-planned. This means before the
        project, during the project, and after the project, corporate leaders
        have already allotted a ceiling amount to how much they can spend on a
        project. Of course, the budget does not factor in expenses in
        maintaining the software and developing patches, should the software
        needs tweaking or improvement. Of course, you cannot expect a project to
        be foolproof.
      </p>
      <p>
        There will certainly be times when a project would need some
        tweaking.According to some, productivity in software development is
        defined as the ability to come up with software program—quality
        uncompromised—with the least amount of time and with limited resources.
        There is a big problem in programmer productivity here since there is a
        constraint. First off, there is a lack of resources and there is
        constraint in time. Money and time are two big issues that will
        definitely cause setbacks in any given project. The sad part of reality
        here is, the programmer is the only person who will get the blame or
        credit. The programmer is the only person who will be branded as
        productive or unproductive.
      </p>
      <p>
        Source:
        <a class="text-primary" href="https://www.articlesfactory.com/"
          >Free Guest Posting Articles</a
        >
        from ArticlesFactory.com
      </p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>



