<%- include('layouts/header') %>

<div class="container">
  
  <div class="row my-5">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow my-5">
        <div class="card-header bg-success">
          <a href="/dashboard/<%= userInfo._id %>" class="text-light">&larr; Back</a>
          <h3 class="text-light"> Update my Todo list </h3>
                  </div>
        <div class="card-body p-4">
          <form
            action="/edit_todos/<%= userInfo._id %>?_method=PUT" method="POST">
            <div class="d-none mb-3 mt-3">
              <label for="email" class="form-label">Fist Name:</label>
              <input
                type="fname"
                class="form-control"
                id="fname"
                placeholder="Enter firstname"
                name="fname"
                value="<%= userInfo.fname %>"
                required />
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">First Name is required</div>
            <div class="d-none mb-3 mt-3">
              <label for="email" class="form-label">Last Name:</label>
              <input
                type="lname"
                class="form-control"
                id="lname"
                placeholder="Enter lastname"
                name="lname"
                value="<%= userInfo.lname %>"
                required />
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Last Name is required</div>
            <div class="d-none mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email" 
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                value="<%= userInfo.email %>"
                required />
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Email is required</div>
            <div class="d-none mb-3 mt-3">
              <label for="email" class="form-label">Password:</label>
              <input
                type="password"
                class="d-none form-control"
                id="password"
                placeholder="Enter password"
                name="password"
                value="<%= userInfo.password %>"
                required /> 
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Password is required</div>
            <!-- Others -->
            <h5 class="pt-3">
              Fill the following fields to set your Todo List.
            </h5>
            <p>
              Separete your list of tasks with a comma (e.g; Eat, write code,
              ...)
            </p>
            <!-- MORNING TODOS -->
            <h6 class="text-primary py-3">Morning Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">4AM - 6AM:</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 4AM to 6AM"
                name="am4_6" 
                value="<%= userInfo.am4_6 %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">6AM - 9AM:</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 6AM to 9AM"
                name="am6_9" 
                value="<%= userInfo.am6_9 %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">9AM - 12PM</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 9AM to 12PM"
                name="am9_12pm" 
                value="<%= userInfo.am9_12pm %>"
                />
            </div>

            <!-- AFTERNOON TODOS -->
            <h6 class="text-primary py-3">Afternoon Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">12M - 3PM:</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 12M to 3PM"
                name="pm12_3" 
                value="<%= userInfo.pm12_3 %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">3PM - 6PM:</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 3PM to 6PM"
                name="pm3_6" 
                value="<%= userInfo.pm3_6 %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">6PM - 9PM</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 6PM to 9PM"
                name="pm6_9" 
                value="<%= userInfo.pm6_9 %>"
                />
            </div>

            <!-- NIGHT TODOS -->
            <h6 class="text-primary py-3">Night Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">9PM - 12AM:</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 9PM to 12AM"
                name="pm9_12am" 
                value="<%= userInfo.pm9_12am %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">12AM - 2AM:</label>
              <input
                type="text"
                class="form-control"
               
                placeholder="Enter your task(s) for 12AM to 2AM"
                name="am12_2" 
                value="<%= userInfo.am12_2 %>"
                />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">2AM - 4PM</label>
              <input
                type="text"
                class="form-control"
                
                placeholder="Enter your task(s) for 2AM to 4PM"
                name="am2_4" 
                value="<%= userInfo.am2_4 %>"
                />
            </div>

            <div class="mb-3 d-grid">
              <input
                type="submit"
                name="submit"
                value="Update my Todo List"
                class="btn btn-success btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>


<!-- <div class="container">
  <div class="row my-5">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow my-5">
        <div class="card-header bg-success">
          <h3 class="text-light">
            Hi, you can update your Todos here
          </h3>
        </div>
        <div class="card-body p-4">
          <form
            action="/update"
            method="post"
            id="ad-form"
            enctype="application/x-www-form-urlencoded"> -->
            <!-- Others -->
            <!-- <h5 class="pt-3">
              The following fields are optional and can be changed anytime.
            </h5>
            <p>
              Separete your list of tasks with a comma (e.g; Eat, write code,
              ...) -->
            <!-- </p> -->
            <!-- MORNING TODOS -->
            <!-- <h6 class="text-primary py-3">Morning Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                required />
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Email is required</div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">4AM - 6AM:</label>
              <input
                type="text"
                class="form-control"
                id="am4_6"
                placeholder="Enter your task(s) for 4AM to 6AM"
                name="am4_6" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">6AM - 9AM:</label>
              <input
                type="text"
                class="form-control"
                id="am6_9"
                placeholder="Enter your task(s) for 6AM to 9AM"
                name="am6_9" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">9AM - 12PM</label>
              <input
                type="text"
                class="form-control"
                id="am9_12pm"
                placeholder="Enter your task(s) for 9AM to 12PM"
                name="am9_12pm" />
            </div> -->

            <!-- AFTERNOON TODOS -->
            <!-- <h6 class="text-primary py-3">Afternoon Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">12M - 3PM:</label>
              <input
                type="text"
                class="form-control"
                id="pm12_3pm"
                placeholder="Enter your task(s) for 12M to 3PM"
                name="pm12_3pm" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">3PM - 6PM:</label>
              <input
                type="text"
                class="form-control"
                id="pm3_6pm"
                placeholder="Enter your task(s) for 3PM to 6PM"
                name="pm3_6pm" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">6PM - 9PM</label>
              <input
                type="text"
                class="form-control"
                id="6pm_9pm"
                placeholder="Enter your task(s) for 6PM to 9PM"
                name="6pm_9pm" />
            </div> -->

            <!-- NIGHT TODOS -->
            <!-- <h6 class="text-primary py-3">Night Todo List</h6>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">9PM - 12AM:</label>
              <input
                type="text"
                class="form-control"
                id="pm9_12am"
                placeholder="Enter your task(s) for 9PM to 12AM"
                name="pm9_12am" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">12AM - 2AM:</label>
              <input
                type="text"
                class="form-control"
                id="am12_2"
                placeholder="Enter your task(s) for 12AM to 2AM"
                name="am12_2" />
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">2AM - 4PM</label>
              <input
                type="text"
                class="form-control"
                id="am2_4"
                placeholder="Enter your task(s) for 2AM to 4PM"
                name="am2_4" />
            </div>

            <div class="mb-3 d-grid">
              <input
                type="submit"
                name="submit"
                value="Set my Todo List"
                class="btn btn-success btn-lg" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

